### Ridership Clean Up

In [91]:
import pandas as pd
import numpy as np

In [121]:
ridership_2014 = pd.read_csv('csv_originals/2014_platform_usage.csv')
ridership_2015 = pd.read_csv('csv_originals/2015_platform_usage.csv')
stations = pd.read_csv('stations_cleaned.csv')

In [122]:
# cleaned_2014 = ridership_2014[['Rank', 'Subway/RT Station', 'Totals']].dropna()
stations.head(5)

      Station        Grade 2015 ridership  Ridership
0     COLLEGE  Underground          47,79       4779
1  DAVISVILLE      Surface          25,33       2533
2      DUNDAS  Underground          81,33       8133
3      DUPONT  Underground          16,14       1614
4    EGLINTON  Underground          72,75       7275

In [123]:
station_map = {
    'BLOOR (LINE 1, Y-U)': 'BLOOR-YONGE - YU',
    'KENNEDY (LINE 2, B-D)': 'KENNEDY - BD',
    'KENNEDY (LINE 3)': 'KENNEDY - SRT',
    'SHEPPARD-YONGE (LINE 1, Y-U)' : 'SHEPPARD - YU',
    'SHEPPARD-YONGE (LINE 4)' : 'SHEPPARD - SHP',
    'SPADINA (LINE 1, Y-U)' : 'SPADINA - YU',
    'SPADINA (LINE 2, B-D)' : 'SPADINA - BD',
    'ST. GEORGE (LINE 1, Y-U)' : 'ST. GEORGE - YU',
    'ST. GEORGE (LINE 2, B-D)' : 'ST. GEORGE - BD',
    'YONGE (LINE 2, B-D)' : 'BLOOR-YONGE - BD',
    'MAIN STREET' : 'MAIN',
    'MUSEUM' : 'MUSEUM'
}

def sync_station_names(station):
    return station_map.get(station, station)

In [134]:
def clean_dataset(original):
    cleaned = original[['Rank', 'Subway/RT Station', 'Totals']].dropna()
    
    # Make the stations name a capital
    cleaned['Station'] = cleaned['Subway/RT Station'].str.upper()
    
    # Manually sync up some stations
    cleaned['Station'] = cleaned['Station'].map(sync_station_names)
    
    cleaned['Totals'] = cleaned['Totals'].apply(lambda x: pd.to_numeric(x.replace(',',''), errors='coerce'))
    
    
    return cleaned

In [135]:
cleaned_2014 = clean_dataset(ridership_2014)
cleaned_2014['2014 Total'] = cleaned_2014['Totals']

In [136]:
cleaned_2015 = clean_dataset(ridership_2015)
cleaned_2015['2015 Total'] = cleaned_2014['Totals']

In [137]:
merged = stations.merge(cleaned_2014, on ='Station')
merged = merged.drop(['Subway/RT Station', 'Totals'], 1)
merged = merged.merge(cleaned_2015, on ='Station')
merged = merged.drop(['Subway/RT Station', 'Rank_x', 'Rank_y', 'Totals', '2015 ridership', 'Ridership'], 1)
merged['2015 Total'] - merged['2014 Total']

0     -3348
1      2820
2      1751
3      1066
4     -1751
5     -1153
6         0
7      -746
8     -3259
9         0
10     1186
11    -2731
12       31
13     -981
14    -4354
15    12632
16      197
17        0
18     5660
19     1133
20    -2803
21     -211
22      495
23        0
24        0
25      400
26    -6386
27    -1576
28        0
29        0
      ...
44     2393
45     2111
46     -858
47      905
48    -2969
49     1327
50    -1066
51    -2401
52     2240
53    -1025
54        0
55      614
56     3039
57     -963
58    -2024
59      608
60     -409
61    -1051
62     1117
63     -380
64        0
65        0
66        0
67        0
68      -81
69     -890
70      725
71       81
72     1979
73       54
Length: 74, dtype: int64