Station grade original data source: https://www.ttc.ca/PDF/Transit_Planning/Subway%20ridership%202015.pdf

In [1]:
import pandas as pd
import numpy as np

In [2]:
ttc = pd.read_csv('ttc_delays_cleaned.csv')

In [3]:
ttc_stations = ttc['Station']
ttc_stations.head(2)

0        HIGH PARK
1    SHEPPARD - YU
Name: Station, dtype: object

In [4]:
stations = pd.read_csv('csv_originals/station_ridership_grade.csv')
stations['Station'] = stations['Station'].str.upper()
stations.head(2)

      Station        Grade 2015 ridership
0     COLLEGE  Underground          47,79
1  DAVISVILLE      Surface          25,33

In [5]:
station_index = stations.set_index('Station')
station_index.index

Index(['COLLEGE', 'DAVISVILLE', 'DUNDAS', 'DUPONT', 'EGLINTON',
       'EGLINTON WEST', 'FINCH', 'GLENCAIRN', 'KING', 'LAWRENCE',
       'LAWRENCE WEST', 'MUSEUM', 'NORTH YORK CENTRE', 'OSGOODE', 'QUEEN',
       'QUEEN'S PARK', 'ROSEDALE', 'SHEPPARD WEST', 'ST. ANDREW', 'ST. CLAIR',
       'ST. CLAIR WEST', 'ST. PATRICK', 'SUMMERHILL', 'UNION', 'WELLESLEY',
       'WILSON', 'YORK MILLS', 'YORKDALE', 'BLOOR-YONGE - BD',
       'BLOOR-YONGE - YU', 'SPADINA - YU', 'SPADINA - BD', 'ST. GEORGE - YU',
       'ST. GEORGE - BD', 'SHEPPARD - SHP', 'SHEPPARD - YU', 'BATHURST', 'BAY',
       'BROADVIEW', 'CASTLE FRANK', 'CHESTER', 'CHRISTIE', 'COXWELL',
       'DONLANDS', 'DUFFERIN', 'DUNDAS WEST', 'GREENWOOD', 'HIGH PARK',
       'ISLINGTON', 'JANE', 'KEELE', 'KIPLING', 'LANSDOWNE', 'MAIN STREET',
       'OLD MILL', 'OSSINGTON', 'PAPE', 'ROYAL YORK', 'RUNNYMEDE',
       'SHERBOURNE', 'VICTORIA PARK', 'WARDEN', 'WOODBINE', 'KENNEDY - SRT',
       'KENNEDY - BD', 'ELLESMERE', 'LAWRENCE EAST', 'MCCOWAN', 'MIDLAND',
       'SCARBOROUGH CENTRE', 'BAYVIEW', 'BESSARION', 'DON MILLS', 'LESLIE'],
      dtype='object', name='Station')

In [6]:
ttc_stations_index = pd.Index(ttc_stations.unique())
ttc_stations_index

Index([         'HIGH PARK',      'SHEPPARD - YU',          'LANSDOWNE',
         'BLOOR-YONGE - YU',           'DUFFERIN',  'NORTH YORK CENTRE',
                'RUNNYMEDE',              'QUEEN',         'ST. ANDREW',
                'WELLESLEY',            'KIPLING',        'ST. PATRICK',
             'KENNEDY - BD',               'JANE',           'OLD MILL',
                   'WILSON',          'DOWNSVIEW',                'BAY',
                    'FINCH',            'COXWELL',     'ST. CLAIR WEST',
                   'DUPONT',         'YORK MILLS',        'DUNDAS WEST',
                  'OSGOODE',            'COLLEGE',   'BLOOR-YONGE - BD',
            'VICTORIA PARK',    'ST. GEORGE - YU',     'SHEPPARD - SHP',
                'BROADVIEW',           'EGLINTON',           'ROSEDALE',
                     'PAPE',          'GREENWOOD',          'ISLINGTON',
                   'WARDEN',         'DAVISVILLE',           'LAWRENCE',
            'EGLINTON WEST',              'BLOOR',              'KEELE',
                    'UNION',            'CHESTER',          'GLENCAIRN',
                 'YORKDALE',             'MUSEUM',      'LAWRENCE EAST',
            'KENNEDY - SRT',            'MCCOWAN',            'MIDLAND',
                'ELLESMERE',             'DUNDAS',         'SHERBOURNE',
                     'KING',           'BATHURST',      'LAWRENCE WEST',
                 'DONLANDS',             'LESLIE',            'BAYVIEW',
             'QUEEN'S PARK',       'SPADINA - YU',         'SUMMERHILL',
                'DON MILLS',               'MAIN',          'OSSINGTON',
               'ROYAL YORK',       'CASTLE FRANK',         'ST. GEORGE',
                 'CHRISTIE',           'WOODBINE',          'ST. CLAIR',
             'SPADINA - BD',                  nan, 'SCARBOROUGH CENTRE',
          'ST. GEORGE - BD',              'YONGE',          'BESSARION',
                  'SPADINA',           'SHEPPARD',            'KENNEDY'],
      dtype='object')

Lets find which of the Stations don't match

In [7]:
station_index.index.difference(ttc_stations_index)

Index(['MAIN STREET', 'SHEPPARD WEST'], dtype='object')

In [8]:
ttc_stations_index.difference(station_index.index)

Index([         nan,      'BLOOR',  'DOWNSVIEW',    'KENNEDY',       'MAIN',
         'SHEPPARD',    'SPADINA', 'ST. GEORGE',      'YONGE'],
      dtype='object')

Looks like we need to fix:
BLOOR–YONGE --> Bloor and Yonge?
MAIN STREET --> MAIN
SHEPPARD WEST --> SHEPPARD
SHEPPARD–YONGE --> DOWNSVIE

In [9]:
# Remove the STREET from main street like we did in the other file
stations.loc[stations['Station'] == 'MAIN STREET', 'Station'] = 'MAIN'

# Rename Sheppard West to DOWNSVIEW because this data predates 2017
stations.loc[stations['Station'] == 'SHEPPARD WEST', 'Station'] = 'DOWNSVIEW'

In [10]:
station_index = stations.set_index('Station')
ttc_stations_index = pd.Index(ttc_stations.unique())
station_index.index.difference(ttc_stations_index)

Index([], dtype='object')

In [11]:
ttc_stations_index.difference(station_index.index)

Index([nan, 'BLOOR', 'KENNEDY', 'SHEPPARD', 'SPADINA', 'ST. GEORGE', 'YONGE'], dtype='object')

In [12]:
ttc_exchange_stations = ttc[ttc['Station'].isin(['BLOOR', 'SHEPPARD', 'YONGE'])]

In [13]:
ttc_exchange_stations[['Station', 'Line']].drop_duplicates().sort_values('Station')

        Station            Line
69        BLOOR             NaN
15880  SHEPPARD             NaN
20421  SHEPPARD  Bloor-Danforth
1178      YONGE             NaN

In [14]:
ttc_exchange_stations.groupby(['Station', 'Line']).size()

Station   Line
SHEPPARD  Bloor-Danforth    37
dtype: int64

In [18]:
stations['Ridership'] = stations['2015 ridership']
stations['Ridership'] = stations['Ridership'].apply(lambda x: pd.to_numeric(x.replace(',',''), errors='coerce'))
stations

               Station                 Grade 2015 ridership  Ridership
0              COLLEGE           Underground          47,79       4779
1           DAVISVILLE               Surface          25,33       2533
2               DUNDAS           Underground          81,33       8133
3               DUPONT           Underground          16,14       1614
4             EGLINTON           Underground          72,75       7275
5        EGLINTON WEST   Underground/Surface          16,83       1683
6                FINCH           Underground         100,82      10082
7            GLENCAIRN               Surface           5,72        572
8                 KING           Underground          55,81       5581
9             LAWRENCE           Underground          24,56       2456
10       LAWRENCE WEST               Surface          19,95       1995
11              MUSEUM           Underground            8,1         81
12   NORTH YORK CENTRE           Underground          24,22       2422
13             OSGOODE           Underground          22,49       2249
14               QUEEN           Underground          48,01       4801
15        QUEEN'S PARK           Underground          48,07       4807
16            ROSEDALE               Surface           5,98        598
17           DOWNSVIEW           Underground          37,67       3767
18          ST. ANDREW           Underground          56,12       5612
19           ST. CLAIR           Underground          36,32       3632
20      ST. CLAIR WEST           Underground          28,11       2811
21         ST. PATRICK           Underground          30,25       3025
22          SUMMERHILL           Underground           5,78        578
23               UNION           Underground         118,45      11845
24           WELLESLEY           Underground          23,14       2314
25              WILSON               Surface          22,81       2281
26          YORK MILLS           Underground          28,15       2815
27            YORKDALE               Surface          19,15       1915
28    BLOOR-YONGE - BD           Underground         183,24      18324
29    BLOOR-YONGE - YU           Underground         216,19      21619
..                 ...                   ...            ...        ...
44            DUFFERIN           Underground          29,94       2994
45         DUNDAS WEST           Underground          29,62       2962
46           GREENWOOD           Underground           9,04        904
47           HIGH PARK   Underground/Surface          10,39       1039
48           ISLINGTON           Underground          37,41       3741
49                JANE           Underground          19,82       1982
50               KEELE              Elevated          15,24       1524
51             KIPLING               Surface          52,93       5293
52           LANSDOWNE           Underground          19,25       1925
53                MAIN           Underground          24,13       2413
54            OLD MILL  Underground/Elevated           6,62        662
55           OSSINGTON           Underground          31,61       3161
56                PAPE           Underground          28,71       2871
57          ROYAL YORK           Underground          20,23       2023
58           RUNNYMEDE           Underground          17,04       1704
59          SHERBOURNE           Underground          25,73       2573
60       VICTORIA PARK               Surface          28,61       2861
61              WARDEN               Surface          29,74       2974
62            WOODBINE           Underground          14,38       1438
63       KENNEDY - SRT  Underground/Elevated          35,79       3579
64        KENNEDY - BD  Underground/Elevated          69,79       6979
65           ELLESMERE               Surface           1,56        156
66       LAWRENCE EAST               Surface           8,13        813
67             MCCOWAN              Elevated           4,62        462
68             MIDLAND              Elevated           2,41        241
69  SCARBOROUGH CENTRE              Elevated          24,63       2463
70             BAYVIEW           Underground           8,99        899
71           BESSARION           Underground           3,05        305
72           DON MILLS           Underground          33,76       3376
73              LESLIE           Underground            6,6         66

[74 rows x 4 columns]

In [19]:
stations.to_csv('stations_cleaned.csv', index=False)