In [1]:
import pandas as pd
import numpy as np

In [5]:
ttc = pd.read_csv('ttc_delays_cleaned.csv')

In [4]:
stations = pd.read_csv('csv_originals/station_ridership_grade.csv')
stations

               Station                 Grade 2015 ridership
0              College           Underground         47,790
1           Davisville               Surface         25,330
2               Dundas           Underground         81,330
3               Dupont           Underground         16,140
4             Eglinton           Underground         72,750
5        Eglinton West   Underground/Surface         16,830
6                Finch           Underground        100,820
7            Glencairn               Surface          5,720
8                 King           Underground         55,810
9             Lawrence           Underground         24,560
10       Lawrence West               Surface         19,950
11              Museum           Underground          8,100
12   North York Centre           Underground         24,220
13             Osgoode           Underground         22,490
14               Queen           Underground         48,010
15        Queen's Park           Underground         48,070
16            Rosedale               Surface          5,980
17       Sheppard West           Underground         37,670
18          St. Andrew           Underground         56,120
19           St. Clair           Underground         36,320
20      St. Clair West           Underground         28,110
21         St. Patrick           Underground         30,250
22          Summerhill           Underground          5,780
23               Union           Underground        118,450
24           Wellesley           Underground         23,140
25              Wilson               Surface         22,810
26          York Mills           Underground         28,150
27            Yorkdale               Surface         19,150
28         Bloorâ€“Yonge           Underground        399,430
29             Spadina           Underground         47,000
..                 ...                   ...            ...
40            Donlands           Underground         11,500
41            Dufferin           Underground         29,940
42         Dundas West           Underground         29,620
43           Greenwood           Underground          9,040
44           High Park   Underground/Surface         10,390
45           Islington           Underground         37,410
46                Jane           Underground         19,820
47               Keele              Elevated         15,240
48             Kipling               Surface         52,930
49           Lansdowne           Underground         19,250
50         Main Street           Underground         24,130
51            Old Mill  Underground/Elevated          6,620
52           Ossington           Underground         31,610
53                Pape           Underground         28,710
54          Royal York           Underground         20,230
55           Runnymede           Underground         17,040
56          Sherbourne           Underground         25,730
57       Victoria Park               Surface         28,610
58              Warden               Surface         29,740
59            Woodbine           Underground         14,380
60             Kennedy  Underground/Elevated        105,580
61           Ellesmere               Surface          1,560
62       Lawrence East               Surface          8,130
63             McCowan              Elevated          4,620
64             Midland              Elevated          2,410
65  Scarborough Centre              Elevated         24,630
66             Bayview           Underground          8,990
67           Bessarion           Underground          3,050
68           Don Mills           Underground         33,760
69              Leslie           Underground          6,600

[70 rows x 3 columns]