## Load in the ttc data and do some common alterations

In [2]:
import pandas as pd

In [3]:
ttc = pd.read_csv('ttc_delays_cleaned.csv')

In [4]:
ttc['Hour'] = pd.to_datetime(ttc['Time'], format='%H:%M').dt.hour
ttc['Date'] = pd.to_datetime(ttc['Date'])
ttc['Year'] = ttc['Date'].dt.year

In [5]:
# Convert Day to Categorical so it's sorted Monday --> Sunday instead of alphabetically
ttc['Day'] = pd.Categorical(ttc['Day'], categories=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], ordered=True)

In [6]:
ttc.head(2)

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle,Station_original,Line_ori,Code Description,Hour,Year
0,2014-01-01,02:06,Wednesday,HIGH PARK,SUDP,3,7,West,Bloor-Danforth,5001.0,HIGH PARK STATION,BD,Disorderly Patron,2,2014
1,2014-01-01,02:40,Wednesday,SHEPPARD - YU,MUNCA,0,0,NaN,Yonge-University,NaN,SHEPPARD STATION,YU,NaN,2,2014

In [7]:
stations = pd.read_csv('stations_ridership.csv')
stations.head(2)

      Station        Grade  2014 Total  2015 Total
0     COLLEGE  Underground       47941       44593
1  DAVISVILLE      Surface       23043       25863